<header>
    <nav class='content'>
        <a [routerLink]="['/inicio']" ><img src="../../assets/img/header/logo.svg" class="logo" /></a>

        <b>Teste Front-end Sênior - Rafael Teixeira</b>
    </nav>
    <div class="gorila-display"> </div>
</header>