footer
    margin-top: 20px
    padding-top: 20px
    padding-bottom: 20px
    color: white 
    background-color: rgb(45, 45, 45)

    a, a:link, a:visited
        color: rgb(230, 230, 230)
        text-decoration: none
        font-weight: bold
    
    a:hover, a:active
        color: rgb(250, 250, 250)