<section class="content">

    <h1>Teste Front-end Sênior</h1>

    <p>Bem-vindo/a ao desafio aplicado para desenvolvedor front-end sênior realizado para a Gorila.</p>

    <p>O objetivo do desafio se baseia em criar um serviço para calcular o valor de um CDB pós fixado indexado ao CDI em uma data específica e uma página web em que esses dados calculados serão expostos. </p>

    <p>Este desafio foi desenvolvido dividindo a arquitetura entre Front-end e Back-end, usando:</p>
    <ul>
        <li>Front-end: Angular 9, Angular Material, Sass, Amcharts, entre outros;</li>
        <li>Back-end: Node, Express, MongoDB, Nodemon, entre outros;</li>
    </ul>

    <a [routerLink]="['/calcular-cdb']" class="btn btn-gradient anime">Acesse o teste</a>
</section>