mat-form-field
    margin-right: 20px

h1
    margin-bottom: 0

h2
    margin-top: 2rem
    margin-bottom: 0
    display: none

h2.show
    display: block

h2 span
    display: inline-block
    font-size: 1rem


p.limit
    font-size: .7rem
    margin-top: .3rem
    margin-bottom: 1rem
    color:#333

.field
    float: left
    .msg-error
        display: block
        margin-top: -10px
        margin-bottom: 5px
        padding: 0 0 0 0
        width: 100%
        font-size: .68rem

button
    border: none
    cursor: pointer

#resultCalcCDB
    display: none
    margin-top: 0
    height: 290px
    max-width: 95%

#resultCalcCDB.show
    display: block

.msg-error
    display: inline
    font-size: .8rem
    font-style: italic
    padding-top: 1rem
    padding-left: 1rem
    color: rgb(230, 0, 30)

.mat-form-field-appearance-legacy .mat-form-field-wrapper
    padding-bottom: 0.1rem !important

app-subloader
    display: block
    position: absolute
    margin-top: 1rem

    
@media screen and (max-width: 1100px)
    app-subloader
        right: 2rem
        margin-top: 80px
    button
        float: left
        clear: both
    .msg-error
        display: block
    .result
        width: 100%
        float: left
        clear: both