<section class="content">

    <h1>Simulador de CDB Pré-fixado</h1>
    <p class="limit"><i>Período disponível entre 01/04/2010 até 12/03/2019</i></p>
    <form [formGroup]="cdbCalcForm" (ngSubmit)="calcCDB()">

        <div>
            <div class="field">
                <mat-form-field>
                    <mat-label>Data Inicial</mat-label>
                    <input
                        matInput
                        name = "investmentDate"
                        formControlName = "investmentDate"
                        [min] = "contextDate.minDate"
                        [max] = "contextDate.maxDate"
                        [matDatepicker] = "pickerStart"
                        (keydown) = "customMask($event)"
                        (change) = "changeDateInput($event, 'investmentDate')"
                        (dateChange)="changeDate($event)"
                        autocomplete = "off"
                        placeholder = "00/00/0000"
                        
                    >
                    <mat-datepicker-toggle  matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                    <mat-datepicker #pickerStart></mat-datepicker>
                </mat-form-field>
                <div class="msg-error" *ngIf="f.investmentDate.errors && f.investmentDate.errors.matDatepickerMin">A Data Inicial deve ser posterior a 01/04/2010.</div>
                <div class="msg-error" *ngIf="f.investmentDate.errors && f.investmentDate.errors.matDatepickerMax">A Data Inicial deve ser anterior que a Data Final.</div>
            </div>
            <div class="field">
                <mat-form-field>
                    <mat-label>Data Final</mat-label>
                    <input  
                        matInput
                        name = "currentDate"
                        formControlName = "currentDate"
                        [matDatepicker] = "pickerEnd"
                        [min] = "contextDate.minEndDate"
                        [max] = "contextDate.maxEndDate"
                        (keydown) = "customMask($event)"
                        (change) = "changeDateInput($event, 'currentDate')"
                        (dateChange)="changeDateEnd($event)"
                        autocomplete = "off"
                        placeholder = "00/00/0000"
                    >
                    <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                    <mat-datepicker #pickerEnd></mat-datepicker>
                </mat-form-field>
                <div class="msg-error" *ngIf="f.currentDate.errors && f.currentDate.errors.matDatepickerMin">A Data Final deve ser posterior a Data Inicial.</div>
                <div class="msg-error" *ngIf="f.currentDate.errors && f.currentDate.errors.matDatepickerMax">A Data Final deve ser anterior a 12/03/2019.</div>
            </div>
            <div class="field">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Taxas" formControlName="cdbRate" mask="separator.2" autocomplete="off" value=""> 
                </mat-form-field>
            </div>


        </div>

         <button  class="btn btn-gradient anime">Calcular</button>

         <div class="msg-error" *ngIf="cdbCalcForm.invalid">Por favor, revise os campos acima antes de continuar.</div>
         <div class="msg-error" *ngIf="msgError">{{ msgError }}</div>

         <app-subloader *ngIf="isLoading"></app-subloader>

    </form>

    <div class="result">
        <h2 [class.show]="!isLoading && showResult">
            Valor Calculado para o Período: {{ contextResult.finalUnitPrice|currency:"BRL":"symbol" }} 
            <span>
                ( De {{ contextResult.investmentDate | date:'dd/MMM/yyyy' }}, Até  {{ contextResult.currentDate | date:'dd/MMM/yyyy' }}  )
            </span>
        </h2>
        <div id="resultCalcCDB" [class.show]="!isLoading && showResult"></div>
    </div>
</section>