@import 'https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i&display=swap'

@import 'settings.sass'
@import 'loader.sass'

html, body
    font-size: 16px
    margin: 0 0 0 0
    padding: 0 0 0 0
    font-family: 'Lato'
    height: 100%
    overflow-x: hidden

    *
        outline: none


    a, a:link, a:visited
        color: black
        text-decoration: none
        font-weight: bold
    
    a:hover, a:active
        color: rgba(33, 33, 33, .9)

    h1
        font-size: 1.7rem
    h2
        font-size: 1.2rem

    .content
        padding-left: 20px
        padding-right: 20px

    .btn
        display: inline-block
        padding: 10px 35px
        border-radius: 30px
        font-size: 1.3rem
    .btn-gradient, .btn-gradient:link, .btn-gradient:visited
        background-image: linear-gradient(to right, rgb(16, 192, 198) 0%, rgb(80, 223, 143) 51%, rgb(16, 192, 198) 100%)
        background-size: 200%
        color: white
        text-shadow: 1px 1px 2px rgba(33, 33, 33, .15)
        box-shadow: 3px 3px 15px rgba(33, 33, 33, .3)
        font-weight: 400
    .btn-gradient:hover
        background-position: right center
        color: white
    app-root, main
        display: block
        height: 100%
    main
        min-height: 100%
        display: flex
        flex-direction: column
        align-items: stretch

        .container
            flex-grow: 1


    header, .container, footer
        flex-shrink: 0
  

@media screen and (max-width: 1100px)
    html, body
        font-size: 14px